@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body{
    overflow-x: auto;
}

*{
    margin: 0;
    padding: 0;
}
.car{
    overflow-x: hidden;
}
.om{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.heading{
    font-weight: bolder;
    font-size: 1.2rem;
}
.peace{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow-x: hidden;
}
.temple{
    width: 400px;
    height: 300px;
    border-radius: 5px;
}
.welcome{
    font-family: 'Playfair Display', serif;
}
.gallery{
    border-radius: 100%;
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: photoanimation 1s infinite ease-in-out alternate;
    overflow-x: hidden;
}
@keyframes photoanimation{
    to{
        transform: translateY(-10px);
    }
}

/* Marquee effect */

.image_wraper{
    margin: 0px 30px;
    overflow-x: hidden;
}
.image_wraper img{
    height: 150px;
    width: 150px;
    /* border-radius: 100%; */
    object-fit: cover;
}

/* Committee Member */

.member{
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
.member2{
    overflow-x: hidden;
}
/* footer */
.short_footer{
    border-radius: 1rem;
    box-shadow: black;
    transform: translateY(50%);
}
.chat{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: contain;
}
.whatsapp{
    font-size: 2rem;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 80%;
    justify-content: center;

    >Input{
        margin: 0.5rem;
    }
}

.road{
    width: 200px;
    height: 200px;
}
.flight{
    height: 300px;
    width: 300px;
}
.map{
    height: 400px;
    width: 300px;
}
.booking{
    overflow-x: hidden;
}

.box{
    overflow: hidden;
    width: 400px;
    height: 300px;
  }
  
.box img{
    height: 100%;
    width: 100%;  
    object-fit: cover;
    transition: all ease-in 0.5s;
  }
  .box:hover img{
    scale: 1.1;
  }

.qr{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.video-overlay {
    position: absolute;
    top: 40%;
    left: 52%;
    color: rgb(227, 186, 62);
    border-radius: 5px;
    text-align: center;
  }
  @media (max-width: 768px) {
    .video-overlay {
        top: 40%;
        left: 50%;
    }
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}